{:index 0 :time 100 :type :invoke :f :write :value 1 :process 0}
{:index 1 :time 200 :type :ok :f :write :value 1 :process 0}
{:index 2 :time 300 :type :invoke :f :read :value nil :process 1}
{:index 3 :time 400 :type :ok :f :read :value 1 :process 1}
{:index 4 :time 500 :type :info :f :kill :process 0}
{:index 5 :time 600 :type :info :f :kill-stop :process 0}
{:index 6 :time 700 :type :invoke :f :write :value 2 :process 0}
{:index 7 :time 800 :type :ok :f :write :value 2 :process 0}
{:index 8 :time 900 :type :info :f :stop :process 0}
{:index 9 :time 1000 :type :invoke :f :read :value nil :process 1}
{:index 10 :time 1100 :type :ok :f :read :value 2 :process 1}
{:index 11 :time 1200 :type :invoke :f :read :value nil :process 2}
{:index 12 :time 1300 :type :ok :f :read :value 2 :process 2}
{:index 13 :time 1400 :type :invoke :f :read :value nil :process 3}
{:index 14 :time 1500 :type :ok :f :read :value 2 :process 3}
